body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin-top: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.top{
    margin-top: 80px;
}
h1{
    font-size: 52px;
    font-weight: 700;
}
.light-orange {
     color: orange;
}
.para{
    font-size: 20px;
    padding-bottom: 35px;
    color: grey;
}
.orange-dark{
    color:tomato;
}
.dark-green
{
    color: green;
}
.half-width img{
    max-width: 100%;
    width: 70%;
    margin-top: 50px;
}
.btn{
    text-decoration: none;
    background: linear-gradient(45deg, tomato , lightsalmon);
    padding: 20px 40px;
    border-radius: 40px;
    color: white;
    box-shadow: 6px 6px 6px 6px  gray;
}
.mid-banner{
    background-image: url("../images/shapes/Frame 59.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.half-width h2{
    font-size: 40px;
    font-weight: 700px;
    color: green;

}
.space{
    margin-top: 150px;
}
.second{
    padding-top: 20px;
    padding-bottom: 100px;
}
.recipe-section p{
 text-align: center;
 padding-bottom: 20px;
}
.recipe-section h2{
    text-align:center;
    font-size: 40px;
    color: #EE32B3FF;
    margin-top: 80px;
}

.float{
    float:left;
}
.col-3{
    width: 29%;
}
.recipe-section img{
    max-width: 99%;
    margin-bottom: 50px;
}
.box{
    margin: 0px 12px;
    border-radius: 20px;
    padding: 15px 15px;
    border: 1px solid white;
}
.recipe-section div
{
    box-shadow: 5px 6px 30px gray;
    height: 100%;
    margin-bottom: 50px;
}
.highlight-1{
    color:orangered;
}
.center{
    text-align: center;
}
.followers{
    
    margin-left: 10%;
    height: 180px;
}
.followers h1{
    margin: 45px;
    margin-bottom: 10px;
    color:darkred;
}
.followers p{
    margin-top: 0px;
    padding-top: 4%;
    font-weight: 700;
}
.footer
{
    text-align: center;
    padding-bottom: 8%;
    background-color: black;
    padding-top: 3%;
}
.footer h1
{   color:darkolivegreen;
    
}
.footer p{
    color: white;
}
.highlight-2
{
    color: burlywood;
}